.table-container{
    max-width: 600px;
    padding: 10px;

    .title{
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }

    .investment-table{
        table-layout: fixed;
        width: 100%;
        border-spacing: 0;

        .header{
            border: 1px solid;
            padding: 10px;
            text-align: start;
        }
        .cell{
            border: 1px solid;
            padding: 10px;
        }
    }
}